.product-card {
    max-width: 600px;
}

.header-image {
    background-image: url("/assets/images/product/icon_airplane_100.png");
    height: 100px;
    width: 100px;
}

.vehicleImage {
     width: 600px;
     height: 400px;
     margin-left: 3px;
}