
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="operatorList">

    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell class="index-cell"*matCellDef="let operator">{{operator.index}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="about">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let operator">{{operator.about}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="company">
        <mat-header-cell class="company-cell" *matHeaderCellDef>Company</mat-header-cell>
        <mat-cell class="company-cell"
                  *matCellDef="let operator">{{operator.company}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

