<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Subnet Selection
  </h1>
</div>
<div>
  <mat-form-field>
    <mat-label>Choose a Subnet</mat-label>
    <mat-select>
      <mat-option [value]="234">Dallas</mat-option>
      <mat-option [value]="123">Philadelphia</mat-option>
      <mat-option [value]="789">Memphis</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-drawer-container id="example-container" [hasBackdrop]="false">

  <mat-drawer #drawer  id="node-info-container" [position]='drawerPosition' [mode]="'side'">
      <node-info [node]="currentNode"></node-info>
  </mat-drawer>


  <mat-drawer-content>
        <div id="diagram-container">
          <div id="paper"></div>
          <div class="pull-out-bar">
        		  <div id="pull-out-icon" (click)="drawer.toggle(); nodeInfoOpen = !nodeInfoOpen">
                  <i *ngIf="nodeInfoOpen"  class="fa fa-lg fa-forward"  aria-hidden="true"></i>
        				  <i *ngIf="!nodeInfoOpen" class="fa fa-lg fa-backward" aria-hidden="true"></i>
        			</div>
        	</div>
          <!--
          <node-info class="node-info-open" [node]="currentNode"></node-info>
          -->
        </div>
  </mat-drawer-content>



</mat-drawer-container>
