<mat-toolbar  class="nav" color="primary">
  <div class="1">
       <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <!-- if we want the hamburger menu button hidden for devices with screen greater than extra small (gt-xs)
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  -->
  <div>
      <a  class="2" routerLink="/home">Home</a>
  </div>

   <div>
      <a  class="5" routerLink="/product">Product</a>
  </div>

   <div>
      <a  class="4" routerLink="/logistics">Logistics</a>
  </div>


</mat-toolbar>