<div class="header-container">
    <div class="branding">
        Traphouse UI Prototype
    </div>


    <mat-toolbar class="nav" color="primary" >
      <div class="1 nav-item">
           <button mat-icon-button (click)="onToggleSidenav()">
              <mat-icon>menu</mat-icon>
          </button>
      </div>
      <!-- if we want the hamburger menu button hidden for devices with screen greater than extra small (gt-xs)
      <div fxHide.gt-xs>
          <button mat-icon-button (click)="onToggleSidenav()">
              <mat-icon>menu</mat-icon>
          </button>
      </div>
      -->
      <div>
          <a  class="2 nav-item" routerLink="/home">Home</a>
      </div>

       <div class="3 nav-item">

       </div>

       <div class="4 nav-item">
           Placeholder
       </div>

       <div class="5 nav-item">
           Placeholder
       </div>

       <div>
           <a class="6 nav-item" routerLink="/nodes">Choose Subnet</a>
       </div>

       <div>
           <a  class="7 nav-item" routerLink="/subnets">Network</a>
       </div>
    </mat-toolbar>


</div>
