<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Your Network
  </h1>
</div>


<div class="grid-container">
  <div></div>
  <div></div>
  <div></div>

  <div class="paper-row"></div>

  <!-- this is the diagram, and would be the material drawer content -->
  <mat-drawer-container id="drawer-container" [hasBackdrop]="false">
    <mat-drawer #drawer  id="node-info-container" [position]='drawerPosition' [mode]="'side'">
        <node-info [node]="currentSubnet"></node-info>
    </mat-drawer>

    <mat-drawer-content>
          <div id="diagram-container">
            <div id="paper"></div>
            <div class="pull-out-bar">
          		  <div id="pull-out-icon" (click)="drawer.toggle(); nodeInfoOpen = !nodeInfoOpen">
                    <i *ngIf="nodeInfoOpen"  class="fa fa-lg fa-forward"  aria-hidden="true"></i>
          				  <i *ngIf="!nodeInfoOpen" class="fa fa-lg fa-backward" aria-hidden="true"></i>
          			</div>
          	</div>
          </div>
    </mat-drawer-content>

  </mat-drawer-container>


  <div class="paper-row"></div>
  <div></div>
  <div></div>
  <div></div>

</div>



<!--

<mat-drawer-container id="example-container" [hasBackdrop]="false">

  <mat-drawer #drawer  id="node-info-container" [position]='drawerPosition' [mode]="'side'">
      <node-info [node]="currentSubnet"></node-info>
  </mat-drawer>
  <mat-drawer-content>
        <div id="diagram-container">

          <div id="paper"></div>
          <div class="pull-out-bar">
              <div id="pull-out-icon" (click)="drawer.toggle(); nodeInfoOpen = !nodeInfoOpen">
                  <i *ngIf="nodeInfoOpen"  class="fa fa-lg fa-forward"  aria-hidden="true"></i>
                  <i *ngIf="!nodeInfoOpen" class="fa fa-lg fa-backward" aria-hidden="true"></i>
              </div>
          </div>

        </div>
  </mat-drawer-content>
</mat-drawer-container>

-->
