<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Subnets
  </h1>
</div>

<mat-drawer-container id="example-container" [hasBackdrop]="false">

  <mat-drawer #drawer  id="subnet-info-container" [position]='drawerPosition' [mode]="'side'">
      <div>Subnet Name: Need to look up name </div>
      <div>Subnet ID:   {{currentSubnet.id }} </div>
      <div>System Admin:  Culio </div>

  </mat-drawer>
  <mat-drawer-content>
        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
        <!--
        <div id="example-paper">Suppose this is some paper"</div>
        -->

        <div id="paper"></div>




  </mat-drawer-content>
</mat-drawer-container>
