<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Your Network
  </h1>
</div>

<mat-drawer-container id="example-container" [hasBackdrop]="false">

  <mat-drawer #drawer  id="node-info-container" [position]='drawerPosition' [mode]="'side'">

      <!-- TODO - pull out the display of the panel and make this its own component -->
      <!--
      <div>Subnet Name: {{ currentSubnet.name }} </div>
      <div>Subnet ID:   {{ currentSubnet.id }} </div>
      <div>System Admin:  {{ currentSubnet.sysAdmin }} </div>
      -->
      <node-info [node]="currentSubnet"></node-info>

  </mat-drawer>
  <mat-drawer-content>
        <div id="diagram-container">
          <!--
          <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>

          -->
          <div id="paper"></div>
          <div class="pull-out-bar">
              <div id="pull-out-icon" (click)="drawer.toggle(); nodeInfoOpen = !nodeInfoOpen">
                  <i *ngIf="nodeInfoOpen"  class="fa fa-lg fa-forward"  aria-hidden="true"></i>
                  <i *ngIf="!nodeInfoOpen" class="fa fa-lg fa-backward" aria-hidden="true"></i>
              </div>
          </div>
          <!--
          <node-info class="node-info-open" [node]="currentNode"></node-info>
          -->
        </div>
  </mat-drawer-content>
</mat-drawer-container>
