.example-container {
  width: 100%;
  height: 600px;
  margin: 12px;
  border: 1px solid #555;
}



#diagram {
    height: 600px;
    width: 100%;

    overflow-y: auto;
    overflow-x: auto;
    background-color: #e6f2ff;
}

#example-paper {
    height: 600px;
    width: inherit;
}

#paper {
  height: 600px;
  width: inherit;
  background-color: #e6f2ff;
}
