:host {
  height: 100%;
  background: #b8d1f3;
}


.node-title {
  width: 100%;
  height: 90px;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}


.properties-table{
		width:100%;
		border-collapse:collapse;
}

.properties-table td{
		padding:7px; border:#4e95f4 1px solid;
}

/* provide some minimal visual accomodation for IE8 and below */
.properties-table tr{
		background: #b8d1f3;
    height: 25px;
}

/*  Define the background color for all the ODD background rows  */
	.properties-table tr:nth-child(odd){
		background: #b8d1f3;
}
	/*  Define the background color for all the EVEN background rows  */
	.properties-table tr:nth-child(even){
		background: #dae5f4;
	}

.property-label {
  font-weight: bold;
}
